@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
    --popins: font-family: 'Poppins', sans-serif;
    --lato: font-family: 'Lato', sans-serif;
}

.homepage-bg{
    background-color: #0D0D23;
    color: white;
}

/*------------------------------------- fonts  */
.popins{
    font-family: 'Poppins', sans-serif;
}

.lato{
    font-family: 'Lato', sans-serif;
}

/*------------------------------------- navbar designs  */
.logo{
    height: 111px;
    width: 306px;
}

.navbar ul li a {
    color: #B8B8B8;
    font-size: 20px;
    font-family: var(--popins);
    margin-right: 30px;
}

.navbar ul li a:hover {
    color: #B8B8B8;
}

.navbar ul li .actived{
    color: #EBEBEB;
}

form button i{
    color: #B8B8B8;
}

/*-------------------------------------homepage banner designs  */
.nav{
    background-image: url('images/banner1.png');
    background-size: cover;
    background-position: right right;
    position: relative;
}

.abs1{
    position: absolute;
    left: 30% ;
    bottom: 50%;
    z-index: -1;
}

.abs2{
    position: absolute;
    left: 70%;
    top: 2%;
    display: none;
    /* overflow: hidden; */
    /* z-index: 30; */
}


.banner .container h1{
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--popins);
}
.banner .container p{
    /* font-size: 16px; */
    font-family: var(--lato);
}

.responsive-logo{
    display: none;
}

.responsive-logo img{
    width: 100%;
}

/*-------------------------------------homepage banner designs end */

/*-------------------------------------second part designs start  */

.know-more{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

.boxes .box{
    background-color: #1B1B2C;
    border-radius: 60px;
}

.entry-3-box{
    color: white;
    background-color: #1B1B2C;
    border-radius: 60px;
    width: 350px;
}

.entry-3-box p{
    font-size: 14px;
    font-family: var(--lato);
}

.box p{
    font-size: 14px;
    font-family: var(--lato);
}

/*-------------------------------------second part designs end  */

/* get updated section start -------------------------- */

.get-updated{
    background-color: #1B1B2C;
}

.get-updated h3{
    font-weight: 400;
}

.submit-button-1{
    background-color: #5068E7 !important;
}

.get-updated form{
    border: 2px solid ;
    width: 50%;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 25px;
}

.get-updated form input[type='email']{
    background-color: transparent;
    border: 0;
    width: 100%;
    color: white;
}

.get-updated form input[type='email']:focus{
    outline: 0;
}

/* get updated section end -------------------------- */

/* video part start ------------------------- */

.video-part h3{
    font-weight: 400;
}

.video-part .left-side{

}

.video-part .right-side{
    /* background-color: #28283C; */
}

.video-part .right-side{
    /* position: relative; */
}

.video-part .right-side img{
    /* position: absolute; */
    /* left: 94%; */
    /* top: 90%; */
}

.video-part .container div {
    /* align-items: center; */
    text-align: start;
}

/* video part end ------------------------- */


/* intro page video part start ---------------------- */

.video-part .container{
    padding-top: 100px;
}

.video-part .container video{
    width: 100%;
    /* height: auto; */
}

/* intro page video part end ---------------------- */

.loading-bar-box{
    width: 80%;
    /* height: 30px; */
    border-radius: 50px;
    background-color: white;
}

.bar{
    width: 40%;
    background-color: green;
    height: 7%;
    border-radius: 20px 0 0 20px;
    position: absolute;
    z-index: 1;
    display: none;
}

/* my key page -------------------------- */

.side-icons .globe img{
    padding-bottom: 73px;
}

.side-icons .exit img{
    padding-top: 248px;
    padding-bottom: 30px;
}

.side-icons img{
    padding-top: 26px;
    /* width: 100%; */
}

.img-box-1{
    height: 70px;
    width: 70px;
    background-color: #D9D9D9;
    border-radius: 50%;
}
.img-box-1 img{
    /* width: 100%; */
}

.lower-part{
    margin-top: 100px; 
}

.file-box{
    background-color: #ECECEC;
}

.step-numbers{
    color: #848484;
    font-size: 16px;
}

.vertical-line{
    height: 47px;
    border-left: 2px solid #848484;
    /* background-color: #848484; */
    margin: 10px 30px;
}

.round{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #EBEBEB;
}

.step-parts .left p{
    margin-bottom: 0;
}

.right p{
    margin-bottom: 0;
}
/* my key page -------------------------- */

.slide-bar{
    /* height: 20px; */
    margin: 80px 0px ;
    padding: 20px 25px;
    background-color: #1B1B2C;
    border-radius: 30px;
    border: 2px solid white;
}
.slide-bar p{
    margin: 0;
    opacity: 60%;;
}

.black-box{
    width: 350px;
    height: 350px;
    background-color: black;
}

.scroll-box{
    height: 18px;
    border: 1px solid #707070;
}


/*--------------------------------------------------------------- footer start  */

footer{
    padding: 100px 0;
}
footer h6{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 45px;
}
footer a{
    text-decoration: none;
    font-family: var(--lato);
    display: block;
    font-size: 20px;
    color: white;
    margin: 29px 0;
}

footer .social-links i {
    color: #0D0D23;
    font-size: 20px ;
}

footer .social-links div{
    background-color: #5068E7;
    padding: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------- footer end  */



 /*------------------------------------- tab view  --------------------------------------------------------------*/

 @media only screen and (min-width: 577px) and (max-width: 990px) {
    .abs1{
        display: none;
    }

    .abs2{
        display: none;
    }

    .get-updated form {
        border: 2px solid;
        width: 70%;
        margin: 0 auto;
        padding: 5px 10px;
        border-radius: 25px;
    }

    .responsive-logo {
        display: block;
    }
    

    .navbar-brand {
        display: none;
    }

    .video-part .container div {
        align-items: center;
    }

    .side-icons .globe img {
        padding-bottom: 0px;
        /* padding-right: 30px; */
    }

    .side-icons .exit img {
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .side-icons img {
        padding: 10px 10px;
        /* width: 100%; */
    }
 }



 /*------------------- Mobile view  ---------------*/
 @media only screen and (max-width: 576px) {
    .abs1 {
        display: none;
    }
    
    .abs2 {
        display: none;
    }

    .get-updated form {
        border: 2px solid;
        width: 100%;
        margin: 0 auto;
        padding: 5px 10px;
        border-radius: 25px;
    }

    .video-part .right-side {
        /* background-color: #28283C; */
        /* width: 400px; */
        /* height: 300px; */
    }

    .video-part .container div {
        /* align-items: center; */
        text-align: center;
    }

    .responsive-logo {
        display: block;
    }

    .navbar-brand{
        display: none;
    }

    .side-icons .globe img {
        padding-bottom: 0px;
        /* padding-right: 30px; */
    }

    .side-icons .exit img {
        padding-top: 10px;
        padding-bottom: 0px;
        
    }

    .side-icons img {
        padding: 10px 10px;
        width: 100%;
    }

    .black-box {
        width: 200px;
        height: 200px;
        background-color: black;
    }

    .round{
        /* width: 100%; */
    }

    .entry-3-box{
        width: auto;
    }

    .back-button{
        width: 100%;
    }
 }
