@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
    --popins: font-family: 'Poppins', sans-serif;
}

.homepage-bg{
    background-color: #0C0C26;
}

.popins{
    font-family: 'Poppins', sans-serif;
}

/*------------------------------------- navbar designs  */
.logo{
    height: 111px;
    width: 306px;
}

.navbar ul li a {
    color: #B8B8B8;
    font-size: 20px;
    font-family: var(--popins);
    margin-right: 30px;
}

.navbar ul li a:hover {
    color: #B8B8B8;
}

.navbar ul li .actived{
    color: #EBEBEB;
}

form button i{
    color: #B8B8B8;
}
